<%- include('./head.ejs') %>
<header>
    <a href=""><h2>GENERATE</h2></a>
    <div class="search">
        <input type="text">
        <img src="/images/searchlogo.png" alt="magnifying glass search logo">
    </div>
    <button id = "upload">+ Upload</button>
    <button id = "login">Log in</button>

</header>
<hr>
