<div class="sideNav">
    <div class="pages">
        <span>
            <img src="/images/home.png" alt="">
            <a href="http://localhost:4000/"><h3>For You</h3></a>
        </span>

        <span>
            <img src="/images/following.png" alt="">
            <a href=""><h3>Following</h3></a>
        </span>

        <span>
            <img src="/images/Live.png" alt="">
            <a href="http://localhost:4000/allUsers"><h3>User List</h3></a>
        </span>

    </div>
    <% if (!user) { %>
    <p>Log in to follow creators, like videos, and view comments.</p>
    <button class="darkButton">Log In</button>
    <% } %>

    <hr>

    <p style = "color: rgb(183, 183, 183); font-size: 0.9em;">Suggested accounts</p>
    <div class="suggestedAccount">
        <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/252879624_2078974795594994_7287391344831191135_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=7MYt2_pmBT0AX-bQKTy&_nc_ht=scontent-ord5-2.xx&oh=00_AfCsI3tUoxOF020mLvLOjhMYJFwTXfZWhSNaycId8UV2Sw&oe=6419C067" style = "height: 30px; width: 30px; border-radius: 100%; object-fit: cover;" alt="" >
        <div id="userName" style = "display: flex; flex-direction: column; color: white">
            <a href = "http://localhost:4000/profile/alicolak1"><p><strong>alicolak1 ✅<span><img src="" alt=""></span></strong></p></a>
            <p style = "color: grey; font-size: 0.9em;">Ali Colak</p>
        </div>
    </div>

    <div class="suggestedAccount">
        <img src="https://media.discordapp.net/attachments/1067565429771481131/1067565566413516961/95705FF1-2815-442F-B814-08C2F99B0C8F.jpg?width=620&height=1102" style = "height: 30px; width: 30px; border-radius: 100%; object-fit: cover;" alt="" >
        <div id="userName" style = "display: flex; flex-direction: column; color: white">
            <a href = "http://localhost:4000/profile/realsean"><p><strong>realsean ✅<span><img src="" alt=""></span></strong></p></a>
            <p style = "color: grey; font-size: 0.9em;">Sean Munjal</p>
        </div>
    </div>

    <div class="suggestedAccount">
        <img src="https://images.unsplash.com/profile-fb-1523123434-df7dcac6e9cd.jpg?dpr=2&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff" style = "height: 30px; width: 30px; border-radius: 100%; object-fit: cover;" alt="" >
        <div id="userName" style = "display: flex; flex-direction: column; color: white">
            <a href = "http://localhost:4000/profile/JuanitoDeLaTorre"><p><strong>JuanitoDeLaTorre ✅<span><img src="" alt=""></span></strong></p></a>
            <p style = "color: grey; font-size: 0.9em;">John Thomas</p>
        </div>
    </div>

    <a href="http://localhost:4000/allUsers"><p style = "color: #EF2950">See all</p></a>
    <hr>
    <!-- <p style = "color: rgb(183, 183, 183); font-size: 0.9em;">Discover</p>
    <div id="discoverTags">
        <a href=""><div id="tag"><p>#petsoftiktok</p></div></a>
        <a href=""><div id="tag"><p>#dogsofinstagram</p></div></a>
        <a href=""><div id="tag"><p>#therock</p></div></a>
        <a href=""><div id="tag"><p>#swag</p></div></a>
        <a href=""><div id="tag"><p>#slack</p></div></a>
        <a href=""><div id="tag"><p>#generalassembly</p></div></a>
    </div> -->
</div>