<div class="sideNav">
    <div class="pages">
        <span>
            <img src="/images/home.png" alt="">
            <a href=""><h3>For You</h3></a>
        </span>

        <span>
            <img src="/images/following.png" alt="">
            <a href=""><h3>Following</h3></a>
        </span>

        <span>
            <img src="/images/Live.png" alt="">
            <a href=""><h3>LIVE</h3></a>
        </span>
    </div>
    <p>Log in to follow creators, like videos, and view comments.</p>
    <button class="darkButton">Log In</button>

    <hr>

    <p style = "color: rgb(183, 183, 183); font-size: 0.9em;">Suggested accounts</p>
    <div class="suggestedAccount">
        <img src="https://media.allure.com/photos/63dbe74dbaff0a1d977a4243/16:9/w_2560%2Cc_limit/selena%2520gomez%2520makeup-free%2520selfie%25202023.jpg" style = "height: 30px; width: 30px; border-radius: 100%; object-fit: cover;" alt="" >
        <div id="userName" style = "display: flex; flex-direction: column; color: white">
            <p><strong>selenagomez ✅<span><img src="" alt=""></span></strong></p>
            <p style = "color: grey; font-size: 0.9em;">Selena Gomez</p>
        </div>
    </div>

    <div class="suggestedAccount">
        <img src="https://p16-sign-va.tiktokcdn.com/musically-maliva-obj/1656050533388294~c5_720x720.jpeg?x-expires=1678863600&x-signature=6KnmGYtbv1oHj%2FqEhorBIYplxIc%3D" style = "height: 30px; width: 30px; border-radius: 100%; object-fit: cover;" alt="" >
        <div id="userName" style = "display: flex; flex-direction: column; color: white">
            <p><strong>jackblack ✅<span><img src="" alt=""></span></strong></p>
            <p style = "color: grey; font-size: 0.9em;">Jack Black</p>
        </div>
    </div>

    <div class="suggestedAccount">
        <img src="https://api.time.com/wp-content/uploads/2014/11/nick-offerman.jpg" style = "height: 30px; width: 30px; border-radius: 100%; object-fit: cover;" alt="" >
        <div id="userName" style = "display: flex; flex-direction: column; color: white">
            <p><strong>nickoffermanofficial ✅<span><img src="" alt=""></span></strong></p>
            <p style = "color: grey; font-size: 0.9em;">Nick Offerman</p>
        </div>
    </div>

    <div class="suggestedAccount">
        <img src="https://media.npr.org/assets/img/2019/03/26/john_mulaney_kid_gorgeous_3840x2160_000012_r_wide-68a78ab1c574de8b8c55410cbc89862aa12fc26a.jpg" style = "height: 30px; width: 30px; border-radius: 100%; object-fit: cover;" alt="" >
        <div id="userName" style = "display: flex; flex-direction: column; color: white">
            <p><strong>john_mulaney ✅<span><img src="" alt=""></span></strong></p>
            <p style = "color: grey; font-size: 0.9em;">John Mulaney</p>
        </div>
    </div>
    <a href=""><p style = "color: #EF2950">See all</p></a>
    <hr>
    <p style = "color: rgb(183, 183, 183); font-size: 0.9em;">Discover</p>
    <div id="discoverTags">
        <a href=""><div id="tag"><p>#petsoftiktok</p></div></a>
        <a href=""><div id="tag"><p>#dogsofinstagram</p></div></a>
        <a href=""><div id="tag"><p>#therock</p></div></a>
        <a href=""><div id="tag"><p>#swag</p></div></a>
        <a href=""><div id="tag"><p>#slack</p></div></a>
        <a href=""><div id="tag"><p>#generalassembly</p></div></a>
    </div>
</div>