<%- include('./partials/header.ejs') %>
<body>
    <div class="mainWrapper">

        <!-- side nav and suggested accounts/tags -->
        <%- include('./partials/sideNav.ejs') %>

        <div class="mainContent">
                <div class="post">
                    <div class="profilePicUsername">
                        <span class="profilePictureCircle"></span>            
                            <h5 id="homescreenUsername"> <% user %> </h5>
                            
                    </div>
                    <p id="userLocation"> Location will be here </p>
                
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
                    </div>
                    <div class="card-content">
                        <!-- <i class="material-icons">favorite</i> -->
                        <div class="likeShare">
                            <img src="./public/images/instagramLikeButton.png" alt="" srcset="">
                            <img src="./public/images/whiteShareButton.png" alt="" srcset="">
                        </div>
                        <h5> username </h5>
                        <p class="postDescription"> This is the post body eh</p>
                        <input type="text" placeholder="Add a comment!" class="commentSection"/>
                        <!-- <hr class="postDivider"> -->
                    </div>

                </div>
                
            <!-- <div class="contentTile">
                <div class="suggestedAccount">
                    <img src="https://media.allure.com/photos/63dbe74dbaff0a1d977a4243/16:9/w_2560%2Cc_limit/selena%2520gomez%2520makeup-free%2520selfie%25202023.jpg" style = "height: 60px; width: 60px; border-radius: 100%; object-fit: cover;" alt="" >
                    <div id="userName" style = "display: flex; flex-direction: column; color: white">
                        <p><strong>selenagomez ✅</strong><span style = "color: rgb(194, 194, 194); margin-left: 15px;">Selena Gomez</span></p> 
                        <p style = "color: grey; font-size: 0.9em;">Haha my time at Disney sure was wild...</p>
                        <a><p style = "font-size: 0.85em;">🎵 Warm Animals - Sure Sure</p></a>
                    </div>
                    <button class="darkButton" id = "follow">Follow</button>
                </div>
                <img id = "videoPlaceholder" src="https://assets.teenvogue.com/photos/588b65ffabe091875c2620ef/2:3/w_1332,h_1998,c_limit/GettyImages-108726293.jpg" alt="">
                
                <ul class = "interactIcons">
                    <div class="icons">
                        <li>
                            <img src="/images/like.png" alt="">
                            <p>8642</p>
                        </li>
                        <li><img src="/images/comment.png" alt=""><p>58</p></li>
                        <li><img src="/images/share.png" alt=""><p>3</p></li>
                    </div>
                </ul>
                <hr>
            </div> -->

            <!-- <div class="contentTile">
                <div class="suggestedAccount">
                    <img src="https://api.time.com/wp-content/uploads/2014/11/nick-offerman.jpg" style = "height: 60px; width: 60px; border-radius: 100%; object-fit: cover;" alt="" >
                    <div id="userName" style = "display: flex; flex-direction: column; color: white">
                        <p><strong>nickoffermanofficial ✅</strong><span style = "color: rgb(194, 194, 194); margin-left: 15px;">Nick Offerman</span></p> 
                        <p style = "color: grey; font-size: 0.9em;">Pretty gay, ngl..</p>
                        <a><p style = "font-size: 0.85em;">🎵 i love you - Billie Eilish</p></a>
                    </div>
                    <button class="darkButton" id = "follow">Follow</button>
                </div>
                <img id = "videoPlaceholder" src="https://static.independent.co.uk/2023/01/31/10/newFile-9.jpg" alt="">
                
                <ul class = "interactIcons">
                    <div class="icons">
                        <li>
                            <img src="/images/like.png" alt="">
                            <p>9042</p>
                        </li>
                        <li><img src="/images/comment.png" alt=""><p>69</p></li>
                        <li><img src="/images/share.png" alt=""><p>420</p></li>
                    </div>
                </ul>
                <hr>
            </div> -->
        </div>
    </div>
</body>