<%- include('./partials/header.ejs') %>
<body>
    <div class="mainWrapper">
        <div class="sideNav">
            <div class="pages">
                <span>
                    <img src="/images/home.png" alt="">
                    <a href=""><h3>For You</h3></a>
                </span>

                <span>
                    <img src="/images/following.png" alt="">
                    <a href=""><h3>Following</h3></a>
                </span>

                <span>
                    <img src="/images/Live.png" alt="">
                    <a href=""><h3>LIVE</h3></a>
                </span>
            </div>
            <p>Log in to follow creators, like videos, and view comments.</p>
            <button class="darkButton">Log In</button>
            <hr>
            <p style = "color: rgb(183, 183, 183); font-size: 0.9em;">Suggested accounts</p>
            
        </div>
        <div class="mainContent">

        </div>
    </div>
</body>