<%- include('./partials/header.ejs', { user: user }) %>

<body>
    <div class="mainWrapper">
        <%- include('./partials/sideNav.ejs') %>
        <div class="mainContent">
            <form method = "POST" action="/newPhoto">
                <label for="photoTitle">Photo Title</label>
                <input type="text" name = "photoTitle"> 
    
                <label for="photoLocation">Photo Location</label>
                <input type="text" name = "photoLocation">
    
                <label for="content">URL of image</label>
                <input type="text" name = "content">
    
                <button class="magentaButton">Submit</button>
            </form>
        </div>
        
    </div>
</body>