<%- include('./partials/header.ejs', { user: user }) %>

<body>
    <div class="mainWrapper">
        <%- include('./partials/sideNav.ejs') %>

        <div class="mainContent">
            <div class="profileInfo">
                <img src="https://images.unsplash.com/profile-fb-1523123434-df7dcac6e9cd.jpg?dpr=2&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff" id = "profilePicture" alt="">
                <div id="profileText">
                    <h3>[ <%= user %> ]</h3>
                    <p>76 posts<span style = "margin: 0 15px 0 25px">294 followers</span> <span style = "margin: 0 15px 0 10px">512 following</span></p>
                    <p style = "color: rgb(209, 209, 209)">Jonathan S. Thomas</p>
                </div>
            </div>

            <hr>
            
            <div class="photosWrapper">
                <% photos.forEach((photo)=> { %>
                    <img src="<%= photo %>" alt="">
                <% }) %>
            </div>
    </div>

    </div>

</body>