<%- include('./partials/header.ejs') %>

<body>
    <div class="mainContent">
        <form id = "signUpForm" method = "POST" action="/users/signUp">
            <label for="name">Name</label>
            <input type="text" name = "name">

            <label for="username">Username</label>
            <input type="text" name = "username">

            <label for="password">Password</label>
            <input type="password" name = "password">

            <label for="profilePic">Profile Pic URL</label>
            <input type="file" name = "profilePic">

            <input type="submit" value = "submit">
        </form>
    </div>
</body>