@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(18,18,18);
    font-family: "Montserrat";
    color: white;
}

.mainWrapper {
    height: 10000px;
    margin: 0px 15% 0px 15%;
    /* border: solid red 3px; */
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    padding: 0px 10% 0px 10%;
    height: 70px;
    width: auto;
    display: flex;
    background-color: rgb(18,18,18);
    justify-content: space-around;
    color: white;
    align-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: solid rgb(129, 129, 129) 1px;
}

.search {
    width: 300px;
    height: 25px;
    background-color: rgb(47,47,47);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
    border: solid transparent 1px;
    align-items: center;
}

.search input {
    background-color: inherit;
    border: transparent;
    color: white;
    outline: none;
    width: 250px;
}


.search:hover {
    border: solid white 1px;
}

input:focus {
    outline: none;
}

.search img {
    height: 25px;
    width: auto;
}


hr {
<<<<<<< HEAD
    background-color: rgb(77, 77, 77);
    height: 2px;
    border-bottom: none;
    border: none;
=======
    height: 1px;
    background-color: rgb(77, 77, 77);
    border: none;
    margin: 25px 0px 25px 0px;
>>>>>>> e85127ea242e8e5fee2581f114fb1b355ba6d139
}

#upload {
    height: 40px;
    width: 120px;
    background-color: rgb(47,47,47);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.3em;
    font-family: inherit;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#upload:hover {
    background-color: rgb(35, 35, 35);
}

#login {
    height: 40px;
    width: 120px;
    background-color: #EF2950;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
    font-family: inherit;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#login:hover {
    background-color: #cb2445;
}

#options {
    height: 25px;
    width: auto;
}

#right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#right img {
    cursor: pointer;
}

.sideNav {
    margin-left: 5px;
    height: 1000px;
    width: 33%;
    /* border: solid green 2px; */
}

.mainContent {
    height: 100%;
    width: 66%;
    /* border: solid blue 2px; */
}



.pages span img {
    height: 30px;
    width: auto;
    display: inline-block;
}

.pages span {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}


.pages span:hover{
    color: #EF2950;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideNav p {
    color:rgb(129, 129, 129);
}

.darkButton {
    height: 40px;
    width: 250px;
    background-color: #3a3030;
    border: solid #EF2950 1px;
    border-radius: 5px;
    cursor: pointer;
    color: #EF2950;
    transition: all 200ms ease-in-out;
}

.darkButton:hover {
    background-color: #311a1c;
}

strong {
    font-weight: 300;
}

#userName p {
    margin: 3px;
    color: white;
}

.suggestedAccount {
    display: flex; 
    align-items: center; 
    gap: 20px;
}

#discoverTags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#tag {
    height: 10px;
    width: auto;
    padding: 10px;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in-out;
}


#tag p {
    color: white;
}

#tag:hover {
    background-color: rgb(30, 30, 30);
}
.tiktok-embed{
    background-color: red;
}
