@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(18,18,18);
    font-family: "Montserrat";
    color: white;
}

.mainWrapper {
    height: 100%;
    margin: 0px 5% 0px 5%;
    /* border: solid red 3px; */
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    padding: 0px 10% 0px 10%;
    height: 70px;
    width: auto;
    display: flex;
    background-color: rgb(18,18,18);
    justify-content: space-around;
    color: white;
    align-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: solid rgb(129, 129, 129) 1px;
    z-index: 100;
}

.search {
    width: 300px;
    height: 25px;
    background-color: rgb(47,47,47);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
    border: solid transparent 1px;
    align-items: center;
}

.search input {
    background-color: inherit;
    border: transparent;
    color: white;
    outline: none;
    width: 250px;
}


.search:hover {
    border: solid white 1px;
}

input:focus {
    outline: none;
}

.search img {
    height: 25px;
    width: auto;
}

#hiddenButton {
    position: absolute;
    display: none;
}


hr {
    height: 1px;
    background-color: rgb(77, 77, 77);
    border: none;
    margin: 25px 0px 25px 0px;
}

#upload {
    height: 40px;
    width: 120px;
    background-color: rgb(47,47,47);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
    font-family: inherit;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#upload:hover {
    background-color: rgb(35, 35, 35);
}

.magentaButton {
    height: 40px;
    width: auto;
    background-color: #EF2950;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
    font-family: inherit;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.magentaButton:hover {
    background-color: #cb2445;
}

#options {
    height: 25px;
    width: auto;
}

#right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#right img {
    cursor: pointer;
}

.profile {
    /* position: absolute;
    right: -5%;
    top: -13%; */
    display: inline;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #EF2950;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0px 0px 10px white;
    color: white;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    margin-top: 5px;
}

/* SIDE NAV CSS */

.sideNav {
    margin-left: 5px;
    height: 100vh;
    width: 25%;
    overflow-y: scroll;
    overflow: scroll;
    /* border: solid green 2px; */
}

.mainContent {
    margin: 0px 3% 0px 11%;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    /* border: solid blue 2px; */
}



.pages span img {
    height: 30px;
    width: auto;
    display: inline-block;
}

.pages span {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}


.pages span:hover{
    color: #EF2950;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideNav p {
    color:rgb(129, 129, 129);
}

.darkButton {
    height: 40px;
    width: auto;
    background-color: #3a3030;
    border: solid #EF2950 1px;
    border-radius: 5px;
    cursor: pointer;
    color: #EF2950;
    transition: all 200ms ease-in-out;
}

.darkButton:hover {
    background-color: #311a1c;
}

strong {
    font-weight: 400;
}

#userName p {
    margin: 3px;
    color: white;
}

.suggestedAccount {
    display: flex; 
    align-items: center; 
    gap: 20px;
}

#discoverTags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#tag {
    height: 10px;
    width: auto;
    padding: 10px;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in-out;
}


#tag p {
    color: white;
}

#tag:hover {
    background-color: rgb(30, 30, 30);
}

.contentTile {
    margin: 50px 0px 50px 0px;
    width: 99%;
    height: 80vh;
    position: relative;
}

#follow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 30px;
    padding: 3px;
    font-size: 1.1em;
}

#videoPlaceholder {
    height: 530px;
    width: 300px;
    margin: 20px 0px 30px 85px;
    border-radius: 8px;
    object-fit: cover;
}

.interactIcons {
    display: inline-block;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    
}

.interactIcons li img {
    height: 50px;
    width: auto;
    padding: 5px;
}

.interactIcons li {
    margin-bottom: 10px;
}

.interactIcons li:nth-child(3) {
    margin-bottom: 40px;
}

.icons {
    position: absolute;
    left: 10px;
    bottom: -10px;
}

.interactIcons li p {
    height: auto;
    width: auto;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 0.82em;
    color:rgb(226, 226, 226)
}

#signUpForm {
    margin: 10% 0px 0px 30%;

}

form input, form label{
    display: block;
    margin: 15px;
}

#signUpForm input {
    width: 200px;
    border-radius: 30px;
    border: solid grey 2px;
    padding: 8px;
}

.profileInfo {
    height: 150px;
    width: auto;
    margin: 34px 0px 35px 20%;
    display: flex;
    align-items: center;
    gap: 60px;
}

#profilePicture {
    height: 130px;
    width: 130px;
    border-radius: 100%;
    object-fit: cover;
    border: solid white 2px;
}

.photosWrapper {
    display: flex;
    flex-wrap: wrap;

    margin-left: 5%;
}

.photosWrapper img {
    height: 275px;
    width: 275px;
    margin: 15px;
    transition: all 200ms ease-in-out;
    object-fit: cover;
}

.photosWrapper img:hover {
    transform: scale(102%);
    box-shadow: 0px 0px 10px white;
}


#photoBlock {
    position: relative;
    overflow: hidden;
}

#profilePhotoStats {
    position: absolute;
    text-align: center;
    width: 278px;
    height: 30px;
    /* background-color: black; */
    bottom: 0px;
    right: 13px;
    padding-top: 10px;
    color: white;
    opacity: 0;
    display: block;
    transition: all 300ms ease-in-out;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(205,205,205,0) 100%);
}

#photoTitleOverlay {
    position: absolute;
    text-align: center;
    padding: 5px 0px 5px 0px;
    width: 280px;
    top: -5px;
    right: 13px;
    color: white;
    opacity: 0;
    display: block;
    transition: all 300ms ease-in-out;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

#commentBox {
    position: absolute;
    display: none;
    opacity: 0;
    top: 20%;
    left: 40%;
    height: auto;
    padding: 25px;
    width: 500px;
    border-radius: 25px;
    background-color: #272727;
    box-shadow: 0px 0px 15px white;
    z-index: 1000;
    transition: all 400ms ease-in-out;
}

#commentInput {
    width: 50%;
    height: 25px;
    background-color: #8e8e8e;
    border-radius: 18px;
    border: none;
    color: white;
    padding: 6px 6px 6px 12px;
}

#exOut {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: rgb(195, 195, 195);
    color: black;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
}

#exOut:hover {
    transform: scale(106%);
    background-color: white;
}

#deletePost {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: rgb(195, 195, 195);
    color: black;
    padding: 5px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    z-index: 100;
    animation: 1s twist linear infinite;

}

#deletePost:hover {
    transform: scale(106%);
    background-color: white;
}


#updatePost {
    position: absolute;
    top: 0;
    right: 30px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(195, 195, 195);
    color: rgb(255, 255, 255);
    padding: 5px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    z-index: 100;
}

#updatePost:hover {
    transform: scale(108%);
    background-color: white;
    color: black;
}


@keyframes twist {
    0%{transform: rotate(15deg)}
    50%{transform: rotate(-15deg)}
    100%{transform: rotate(15deg);}
}

/* SEAN: for User List */
.userInfo {
    width: 100%;
    margin-left: 25px;
}

.userItem a {
    margin-left: 50px;
}

.userItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    max-width: 1200px;
}

.postCount {
    margin-right: 95px;

}
/* .totalPosts {
    align-items: center;
    text-align: right;
    margin-right: 95px;
    
} */

/* POST CARD*/
.card {
    width: 100%;
    max-width: 600px;
    background-color: rgb(27, 27, 27);    border-radius: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-info div {
    display: flex;
    flex-direction: column;
  }
  .card-header h3,
  .card-header p {
    margin: 0;
    font-size: 1em;
  }
  .post-info {
    text-align: right;
  }
  .card-body {
    padding: 10px;
    background-color: rgb(27, 27, 27);    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    /* height: 450px;
    width: 450px;
    z-index: 1; */
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

  
  }
  
  .image-container:hover .image-overlay {
    opacity: 1;
  }
  .card-body img {
    margin-left:  auto;
    margin-right: auto;
    object-position: center;
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    height: 100%;
    position: absolute;

    
    
  
  }
  .image-overlay {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .likes-count,
  .comments-count{
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.9em;
    margin-right: 150px;
  
  }
  .likes-count {
    margin-left: 150px;
  }
  .likes-count .label,
  .comments-count .label {
    margin-left: 5px;
  }
  .like-button {
    margin-top: 5px;
    padding: 10px;
    background-color: #3B5998;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .comment-section {
    margin-top: 10px;
    width: 100%;

  }
  .comment {
    margin-bottom: 5px;
  }
  .comment-text {
    margin: 0;
  }
  .comment-toggle {
    text-align: center;
    margin-top: 10px;
  }
  .comment-toggle button {
    background-color: transparent;
    color: #c51f19;
    border: none;
    cursor: pointer;
  }
  .comment-form {
    margin-top: 10px;
    display: flex;
    align-items: center;

  }
  .comment-form textarea {
    flex-grow: 1;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-right: 5px;
  }

  
  .comment-form form {
    display: flex;
    width: 100%;
  }
  .comment-form input {
    flex-grow: 1;
    width: 0;
    margin-right: 5px;
  }
  .comment-form button {
    width: auto;
  }
  .comment-form::placeholder {
    color: #8e8e8e;
}