@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(18,18,18);
    font-family: "Montserrat";
    color: white;
}

.mainWrapper {
    height: 100%;
    margin: 0px 5% 0px 5%;
    /* border: solid red 3px; */
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    padding: 0px 10% 0px 10%;
    height: 70px;
    width: auto;
    display: flex;
    background-color: rgb(18,18,18);
    justify-content: space-around;
    color: white;
    align-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: solid rgb(129, 129, 129) 1px;
    z-index: 100;
}

.search {
    width: 300px;
    height: 25px;
    background-color: rgb(47,47,47);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
    border: solid transparent 1px;
    align-items: center;
}

.search input {
    background-color: inherit;
    border: transparent;
    color: white;
    outline: none;
    width: 250px;
}


.search:hover {
    border: solid white 1px;
}

input:focus {
    outline: none;
}

.search img {
    height: 25px;
    width: auto;
}


hr {
    height: 1px;
    background-color: rgb(77, 77, 77);
    border: none;
    margin: 25px 0px 25px 0px;
}

#upload {
    height: 40px;
    width: 120px;
    background-color: rgb(47,47,47);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
    font-family: inherit;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#upload:hover {
    background-color: rgb(35, 35, 35);
}

.magentaButton {
    height: 40px;
    width: auto;
    background-color: #EF2950;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.1em;
    font-family: inherit;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.magentaButton:hover {
    background-color: #cb2445;
}

#options {
    height: 25px;
    width: auto;
}

#right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#right img {
    cursor: pointer;
}

.profile {
    /* position: absolute;
    right: -5%;
    top: -13%; */
    display: inline;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #EF2950;
    border: solid white 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: 0px 0px 10px white;
    color: white;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    margin-top: 5px;
}

/* SIDE NAV CSS */

.sideNav {
    margin-left: 5px;
    height: 100vh;
    width: 25%;
    overflow-y: scroll;
    overflow: scroll;
    /* border: solid green 2px; */
}

.mainContent {
    margin: 0px 3% 0px 11%;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    /* border: solid blue 2px; */
}



.pages span img {
    height: 30px;
    width: auto;
    display: inline-block;
}

.pages span {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}


.pages span:hover{
    color: #EF2950;
}

.pages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideNav p {
    color:rgb(129, 129, 129);
}

.darkButton {
    height: 40px;
    width: auto;
    background-color: #3a3030;
    border: solid #EF2950 1px;
    border-radius: 5px;
    cursor: pointer;
    color: #EF2950;
    transition: all 200ms ease-in-out;
}

.darkButton:hover {
    background-color: #311a1c;
}

strong {
    font-weight: 400;
}

#userName p {
    margin: 3px;
    color: white;
}

.suggestedAccount {
    display: flex; 
    align-items: center; 
    gap: 20px;
}

#discoverTags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#tag {
    height: 10px;
    width: auto;
    padding: 10px;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in-out;
}


#tag p {
    color: white;
}

#tag:hover {
    background-color: rgb(30, 30, 30);
}

.contentTile {
    margin: 50px 0px 50px 0px;
    width: 99%;
    height: 80vh;
    position: relative;
}

#follow {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 30px;
    padding: 3px;
    font-size: 1.1em;
}

#videoPlaceholder {
    height: 530px;
    width: 300px;
    margin: 20px 0px 30px 85px;
    border-radius: 8px;
    object-fit: cover;
}

.interactIcons {
    display: inline-block;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    
}

.interactIcons li img {
    height: 50px;
    width: auto;
    padding: 5px;
}

.interactIcons li {
    margin-bottom: 10px;
}

.interactIcons li:nth-child(3) {
    margin-bottom: 40px;
}

.icons {
    position: absolute;
    left: 10px;
    bottom: -10px;
}

.interactIcons li p {
    height: auto;
    width: auto;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 0.82em;
    color:rgb(226, 226, 226)
}

#signUpForm {
    margin: 10% 0px 0px 30%;

}

form input, form label{
    display: block;
    margin: 15px;
}

#signUpForm input {
    width: 200px;
    border-radius: 30px;
    border: solid grey 2px;
    padding: 8px;
}

.profileInfo {
    height: 150px;
    width: auto;
    margin: 34px 0px 35px 20%;
    display: flex;
    align-items: center;
    gap: 60px;
}

#profilePicture {
    height: 130px;
    width: 130px;
    border-radius: 100%;
    object-fit: cover;
    border: solid white 2px;
}

.photosWrapper {
    display: flex;
    flex-wrap: wrap;

    margin-left: 5%;
}

.photosWrapper img {
    height: 275px;
    width: 275px;
    margin: 15px;
    transition: all 200ms ease-in-out;
    object-fit: cover;
}

.photosWrapper img:hover {
    transform: scale(102%);
    box-shadow: 0px 0px 10px white;
}


#photoBlock {
    position: relative;
}

#profilePhotoStats {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    right: 20px;
    color: white;
    opacity: 0;
    display: block;
    transition: all 300ms ease-in-out;
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(205,205,205,0) 100%); */
}

#photoTitleOverlay {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -5px;
    right: 15px;
    color: white;
    opacity: 0;
    display: block;
    transition: all 300ms ease-in-out;
}


.post{
    border-radius: 30px;
    padding: 15px 0px 15px 40px;
    min-width: 650px;
    max-width: 700px;
    height: 65%;
    background-color: rgb(27, 27, 27);
    margin: 50px 0px 30px 50px;
    box-shadow: 0px 0px 20px rgba(10, 10, 10, 0.2);
    
}
.profilePicUsername{
    display: flex;
    align-items: center;


 
}
.profilePictureCircle{
}
.profilePictureCircle img{
object-fit: cover;
height: 50px;
width: 50px;
border-radius: 100%;
/* max-width: 25%;
max-height: 25%; */
margin-right: 10px;
box-shadow: 0px 0px 5px rgba(106, 106, 106, 0.5);

}
.card-image{
    /* border: solid rgb(255, 255, 255) 4px; */
    /* margin: 40px; */
    width: 500px;
    height: 500px;
    position: relative;

    
}
.card-image img{
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow-clip-margin: content-box;
	overflow: clip;
    


}

hr{
    width: 90%;
}

.likeShare{
    display: flex;

}
.postDescription{
    font-size: 11px;
}
#userLocation{
    font-size: 10px;
}

.post .card-content .likeShare {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.post .card-content .likeShare img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}
.post .card-content .commentSection {
    border: none;
    padding: 10px;
    font-size: 14px;

    color: #ffffff;
    margin-top: 10px;
    outline: none;
    background-color: #5c5c5c;
    border-radius: 5px;
}
.post .card-content .commentSection::placeholder {
    color: #8e8e8e;
}

